@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My ASP.NET Application</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
</head>
    <body>
        fun!
    </body>
</html>
