@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My ASP.NET Application</title>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/Bundles/js")
</head>
    <body>
        
        <div ng-app="demoApp">
            <div ng-controller="demoController">

                <div>
                    My Collection
                </div>
                
                <button ng-click="actions.showMyConsoles()">Load consoles</button>

                <ul>
                    <li ng-repeat="console in consoles">
                        {{console.id}} - {{console.name}}
                    </li>
                </ul>
            </div>
        </div>

    </body>
</html>
